# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment
.venv/
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test files
test_*.py
*_test.py